:root{
  --colorMenu: rgba(15, 36, 247, 0.5);
  --colorMenu_transparente: rgba(15, 36, 247, 0.555);
}

/* main.css */
*{
  padding:0;
  margin:0;
  font-family: sans-serif;

}

header{
  position: fixed;
  width: 100%;

}

.nav-menu{
  width: 80%;
  margin: auto;
  background-color: var(--colorMenu) ;
  color: white;
  padding: 10px;
}
.nav-menu-items{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.contentPrincipal{
  background-image: url('../assets/bosque-arboles-696x444.jpg');
  width: 100%;
  height: 90vh;
  display:flex;
  align-items: center;
}
.contentText{
  width: 80%;
  margin: auto;
}
.contentText h1 {
  background-color: white;
  width: 47%;
  padding: 7px;
}

.contentText h2 {
  background-color: var(--colorMenu) ;
  color: white;
  width: 25%;
    padding: 7px;
}

.contentAbout{

    padding: 2rem 1rem 6rem 1rem;
}
.titleContent{
    font-size: 2em;
    margin-top: 2rem;
    text-align: center;
}

.itemsAbout{
    padding: 2rem;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin: auto;
    text-align: center;
}
.itemsAbout .circulo{
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--colorMenu);
    margin-bottom: 1rem;
    position: relative;

}
.circulo i{
  position: absolute;
  font-size: 3em;
  color: white;
  top:20%;
  bottom: 50%;
  right:25%;

}
.itemsAbout h3{
    padding-bottom: 1rem;
}



.contentInformation{
    background-image: url('../assets/ciudad.jpg');
    height: 40vh;

}
.bg-information{
    background-color: var(--colorMenu_transparente);
    height: 40vh;
    display: flex;
    align-items:  center;
    justify-content: center;
}

.contentInformation_text{
    width: 60%;
    margin: auto;
    color: white;
    text-align: center;
}
.contentInformation_text h2 {
  font-size: 2em;
}

 button{

  width: 40%;
  margin-top: 1rem;
  padding: 1rem;
  border:none;
  border-radius: 5px;

}

.titleContentImage{
  font-size: 2em;
  margin-top: 2rem;
  text-align: center;
}
.itemsImage{

  display: grid;
  grid-template-columns: repeat(4, 25%);
  column-gap: 1rem;
  row-gap:1rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}
.itemsImage img{
  width: 100%;

}
.itemsImage figcaption{
  text-align: center;
}
.spacing{
  margin-top: 4rem ;

}

.contentTarjets{
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-gap: 2rem;
  margin: auto;
  margin-top: 4rem;
  width: 70%;
  text-align: center;
  color: white;
}
.itemsTarjets{
  background-color: #000269;
  padding: 2rem;
}
.itemsTarjets:hover{
  transition-duration: 0.3s;
  background-color: #0e10a0;

}

.itemsTarjets i{
  font-size: 3em;
  padding-bottom: 1rem;
}
.itemsTarjets h3{

  padding-bottom: 1rem;
}







.contentCajas{
  /* background-color: brown; */
  /* display: grid; */
  /* grid-template-areas:  "menu header header"
                        "menu content content"
                        "footer footer footer" */
  /* grid-template-columns: 10% 60% 30%; */
  /* background-color: brown;
  column-gap: 10px;
  row-gap:10px;
  padding: 15px; */
}
.caja1 , .caja2 , .caja3,
.caja4 , .caja5 , .caja6{
  width: 10%;
  margin: auto;
  height: 10vh;

}
/*
.caja1{
  background-color: red;
  grid-area: menu;
  height: 100%
}
.caja2{
background-color: green;
grid-area: header;
}
.caja3{
background-color: blue;
grid-area: content;

}
.caja4{
  background-color: purple;
  grid-area: footer;
}
.caja5{

background-color: pink;

} */
/* .nombre{
  width: 50%;
  margin: auto;
}
.nombre::after{
  content: "";

  background-color: red;
  width: 10px;
  height: 10px;

}
.nombre::after{
  content: "";
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;

} */


















/*


header{
    width: 100%;
    position: fixed;
}
.nav-menu{
    width: 80%;
    margin: auto;
    padding: 1em;
    background-color: var(--colorMenu);
}
.nav-menu-items{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
}


@media (min-width: 100px) and (max-width: 640px){
  .color1{
    background-color: yellow;
  }
  .color2 {
    background-color: blue;
  }
  .color3{
    background-color: red;
  }
  .container{
    display: grid;
    grid-template-columns: 100%;

  }
   */
}
